<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Hoteles de Madrid</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<meta name="Author" content="Tjobbe Andrews, SiteCreative.net" />
</head>

<body>
<div id="container">
	<div id="holder" class="clearfix">
		<div id="logo">
			<h1>Hoteles</h1>
	  </div>
		<div id="navigation">
			<ul>
				<li><a href="http://localhost:1234/">PRINCIPAL</a></li>
				<li><a href="http://localhost:1234/alojamientos">HOTELES</a></li>
				<li><a href="http://localhost:1234/about">ABOUT</a></li>
			</ul>
	    </div>
		<div id="header"></div>
		<div id="content">
			Con el formulario puede realizar una búsqueda avanzada:
			<form method="POST" action=""> Categoria: <input type="text" name="categoria"><br> SubCategoria: <input type="text" name="subcategoria"><br> <input type="submit" value="Enviar"><br></form>
			{% for alojamiento in lista %}
				Página de la aplicación:<a href=http://localhost:1234/alojamientos/{{alojamiento.hotel_id}} > {{alojamiento.nombre}}</a></br>Página del hotel:<a href="{{alojamiento.web}}" > {{alojamiento.nombre}}</a></br>
				
			{% endfor %}
		</div>
		<div id="news">
	  </div>
	</div>
	<div id="footer">
		<span id="copyright"></span>
		<ul>
			Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid
			<li><a href="http://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=df42a73970504510VgnVCM2000001f4a900aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">Descripción</a></li>
			<li><a href="http://cursosweb.github.io/etc/alojamientos_es.xml">XML español</a></li>
			<li><a href="http://cursosweb.github.io/etc/alojamientos_fr.xml">XML francés</a></li>
			<li><a href="http://cursosweb.github.io/etc/alojamientos_en.xml">XML inglés</a></li>
		</ul>
	</div>
</div>
</body>
</html>
